/* ===== Change line-height and backround using universal selector =====


* {
    line-height: 1.0;
    background-color:rgb(152, 208, 169)

}

==== change font for every element in body ====

body {
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
 }
*/



/* ======= Type Selectors ====== //

//
//Use the type selector to:

1. set the image width to 200px
2. set the list style of <ul> to none
3. Add a dark red color to the <h1>
//
======= SOLUTION ======= 
//

img {

    width: 200px;
}

h1 {
    color: darkred;

}

ul {
    list-style: none;
}

*/


/* ====== Class selectors =====//
 
//A CSS class is an attribute used to define a group of HTML elements. 

.recipe-intro{
    
    width: 400px;
    background-color: darkolivegreen;
    text-align: left;

    
}
.recipe-gif{
    width: 400px;
    text-align: left;
}
.recipe-content{
    text-align: left;
}

====== This is for the class ID =====
// Not advised to use ID's for styling 

#container {
    border: 1px solid red;
}

*/


/* ==== Chain Selectors ====

// Will only select elements that are contained in all the chained classes


.recipe-intro.feature{

    width: 500px;
    border: 2px solid darkred;
}

*/

/*==== Challenge =====
//  1. Change <h2> element with <ul> and <li> to be 16px
//  2. Update recipe link styles, set:
        --- backround color to #fc9400
        --- text color to whit
        --- remove underline



h2, ul, li {
    font-size: 16px;
}


.recipe-intro a {

    background-color: #fc9400;
    color: white;
    text-decoration: none;

}

*/ 


/* ====== STYLING PRACTICE USING CSS ====== */


body{
    
    background-color: rgb(10, 10, 10);
}
*{
    
    line-height: 1.0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


.Underit, .Steps strong{
    text-decoration: underline;
}
ol{
    text-align: center;
    list-style: none;
}
ul{
    
    list-style: none;
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}

.recipe-gif{
    width: 250px;
    margin-top: 100px;
    padding: 15px;
    border: 10px 10px;
    border-color: rgb(15, 15, 15);

}

.recipe-content{
    font-size: large;
}

.kebobpic{
    margin-top: 100px;
    padding: 15px;
    border: 2px 2px;
    background-color: rgb(15, 15, 15);
}

.heading{
    text-align: center;
    text-decoration: underline;

}


button{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: larger;

}

.recipeB{
    margin-bottom: 20px;
}
a {
    text-align: left;
    text-decoration: none;
    color: white;
}

.container{
    text-align: center;
    background-color: rgb(109, 109, 112);
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 0.25px;
    padding-bottom: 0.25px;
    
}